<section>
  <h2>Shop Stuff</h2>
  <div class="container">
    <div class="shop-products">
      <img src="./assets/images/product-type-icons/do.svg" alt="Do">
      <p>Get back to nature with all the tools and toys you need to enjoy the great outdoors.</p>
      <p><a href="./product-type/do/" class="btn">Do Stuff</a></p>
    </div>
    <div class="shop-products">
      <img src="./assets/images/product-type-icons/eat.svg" alt="Eat">
      <p>Nothing beats food cooked over a fire. We have all you need for good camping eats.</p>
      <p><a href="./product-type/eat/" class="btn">Eat Stuff</a></p>
    </div>
    <div class="shop-products">
      <img src="./assets/images/product-type-icons/sleep.svg" alt="Sleep">
      <p>Get a good night's rest in the wild in a home away from home that travels well.</p>
      <p><a href="./product-type/sleep/" class="btn">Sleep Stuff</a></p>
    </div>
    <div class="shop-products">
      <img src="./assets/images/product-type-icons/wear.svg" alt="Wear">
      <p>From flannel shirts to toques, look the part while roughing it in the great outdoors.</p>
      <p><a href="./product-type/wear/" class="btn">Wear Stuff</a></p>
    </div>
  </div>
</section>